.loginDivMain{
    background-image: url(../../public/images/grama3.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginDiv{
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.loginBtn{
    font-size: 1.2em;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}