@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.main{
    /* background-color: white; */
    background-image: url(../../public/images/cesped.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: s;
    padding: 0;
    color: white;
    font-size: 20px;
}

.h3TitleList {
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center; 
    padding-left: 85vh;
 
}

.playerList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.eachPlayerInList {
  flex: 0 0 calc(28% - 20px);
  list-style-type: none;
  padding-bottom: 3vh;
  padding-left: 3vh;
}

.eachPlayerInList img {
  max-width: 220px;
}

.playerListName {
  color: white;
  text-decoration: none;
  list-style: none;

}

.playerListName:hover {
  color: gold;
}
