.signDivMain{
    background-image: url(../../public/images/grama3.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signDiv{
   font-size: 2em;
   color: white;
   display: flex;
   justify-content: space-between;
   gap: 150px;
}

.signBtn{
    font-size: 1.2em;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}