.signDivMain{
    background-image: url(../../public/images/cesped.webp);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signDiv{
    font-size: 1.5em;
    background-color: lightslategray ;
    opacity: 0.9; 
    width: 400px;
    border: 2px solid black;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 10px 4px 78px 31px rgba(184,16,16,0.86);
}

.signBtn{
    font-size: 1.2em;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}