.body {
    background-image: url(../../public/images/cesped.webp);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.h1Title {
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.gif {
    border-radius: 20px;
}

.h1TitleFame {
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.h1TitleFame:hover, .h1Title:hover {
    color: gold;
}
