@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.App {
  text-align: center;
}

a {
  margin: 20px;
  text-decoration: none
}



.player-card h5 {
  margin-bottom: 5px;
  text-align: center;
}

.player-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.player-card button {
  margin-top: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para los top 11 jugadores */


.top11-card li {
  list-style: none;
  margin-bottom: 10px;
}

.top11-card p {
  margin-bottom: 5px;
  text-align: center;
}

.top11-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.navbar-div {
  background-color: #061934;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.link-navbar:hover, .link-footer:hover {
  color: gold;
}

.footer-div {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #061934;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.container-main-div {
  margin-bottom: 80px;
}

.all-comments-div {
  margin-left: 100px;
  margin-top: 30px;
  /* border: 2px red solid ; */
  /* border-radius: 20px; */
  /* box-shadow: 10px 10px 5px 0px rgba(255,0,21,1); */
  width: 60%;
}

/* .player-list-in-top11 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

.player-list-in-top11 {
  display: flex;
  flex-wrap: wrap;
}

.player-card {
  margin-left: 10px;
  flex: 0 0 28%; /* Esto establece que cada tarjeta ocupe un tercio del ancho de su contenedor */
  gap: 20px;
}

/* .player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
} */


.each-player-in-list h3 {
  text-decoration: none; 
}

.footer-div a, .navbar-div a {
  text-decoration: none;
  color: white;
}

.button-logout {
  background: none;
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: white;
  font-family: Roboto;
}

.button-logout:hover {
  color: gold;
}

